.x-table-view {
	-sfx-frozen-left-columns: 1;
}

.label {
	-fx-text-fill: blue;
    /*
    -fx-graphic: url("icon.png");
    // url("../images/filterPopupIcon.png");	
*/
}
.my-button2 {
 /*  
 */
 -my-selected: true;
}
.my-button {
 /*  
 */
 -my-selected: true;
}