.root {
	-fx-font: 11 Tahoma;
    -fx-text-fill: black;
}

 .text {
    -fx-text-fill: #F00;
    -fx-font-smoothing-type: lcd;
}

.combo-box{
    -fx-skin: "test.combobox.ComboTabPaneTest$ComboBoxListViewSkin";
}

.combo-box-base{
    -fx-background-color: #0FF;
    -fx-padding: 2 2;
}

.combo-box-base:editable{
    -fx-background-color: #FF0;
}

.combo-box-base:editable > .text-field {
    -fx-border-image-source: null;
    -fx-background-color: transparent;
    -fx-padding: 1 0;
}

.combo-box-base > .arrow-button  {
   -fx-background-color: red;
   -fx-padding: 0 4;
  }

.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: black;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 2 4;
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";	
}

/* -------------- STYLES FOR THE DEFAULT LISTVIEW-BASED COMBOBOX ------------- */

.combo-box-popup > .list-view {
    -fx-border-style: solid;    
    -fx-border-width: 1;    
    -fx-border-color: black;    
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 1 10;
    /*-fx-background-color: red;*/
    /*-fx-cell-size: 10;*/
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background:  green;
    -fx-background-color:  orange !important;
}
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: silver !important;
}
.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: blue;
}