.table-cell:overlay
{
    -fx-background: -fx-control-inner-background;
    -fx-background-color: lavenderblush;
}

/*
.table-row-cell
{
    -fx-padding: 0 20 0 20 ;
}

.nested-column-header 
{

    -fx-padding: 0 20 0 20 ;
}


*/